---
import Plantilla from '@/plantillas/Principal.astro';
---

<Plantilla titulo="Créditos" descripcion="___" conMenu={false} imagen={{ ruta: '___.webp', alt: '___' }}>
  <section>
    <h1 id="tituloPagina">Créditos</h1>

    <div id="creditos">
      <div class="textoCreditos">
        <p>
          El <span class="negrita">SIYA</span> tiene como objetivo central entregar indicadores relevantes, actualizados
          y de alta calidad a quienes tienen el poder y la responsabilidad de lograr el desarrollo pleno de niñas, niños
          y adolescentes: sociedad civil, funcionarios públicos, candidatos, mandatarios, legisladores, entre otros.
        </p>
      </div>

      <div>
        <a class="logoNinezYa" href="https://ninezya.org/" target="_blank">
          <img src={`${import.meta.env.BASE_URL}/imagenes/logoNinezYa.webp`} alt="Logo NiñezYA" /></a
        >
      </div>

      <h3 class="rol">Comité Directivo Nacional 2023</h3>

      <a href="" target="_blank">
        <img src={`${import.meta.env.BASE_URL}/imagenes/Nacional_horizontal.webp`} alt="Junta directiva nacional" /></a
      >

      <h3 class="rol">Comité Coordinador Antioquia 2023</h3>

      <a href="" target="_blank">
        <img
          src={`${import.meta.env.BASE_URL}/imagenes/Antioquia_horizontal.webp`}
          alt="Junta directiva Antioquia"
        /></a
      >

      <!-- <h2 class="rol">Coordina:</h2> -->

      <h2 class="rol">Desarrolla:</h2>

      <a href="https://imagina.uniandes.edu.co/" target="_blank">
        <img
          class="logoImagina"
          src={`${import.meta.env.BASE_URL}/imagenes/Imagina.webp`}
          alt="Logo Centro IMAGINA"
        /></a
      >

      <a href="https://enflujo.com" target="_blank">
        <img
          class="logoEnFlujo"
          src={`${import.meta.env.BASE_URL}/imagenes/enflujo_andes.svg`}
          alt="Logo Laboratorio EnFlujo"
        /></a
      >

      <div class="voceros">
        <h2 class="rol">Definición indicadores por cada YA</h2>
        <ol>
          <li>
            <p class="negrita">Salud-Nutrición:</p>
            <p class="textoCreditos">Carolina Turriago y María Juliana Ortiz Soto (Fundación Éxito)</p>
          </li>

          <li>
            <p class="negrita">Salud mental:</p>
            <p class="textoCreditos">
              Norma Constanza Sánchez y Lina María Gonzalez Ballesteros (Fundación Saldarriaga Concha)
            </p>
          </li>

          <li>
            <p class="negrita">Educación inicial:</p>
            <p class="textoCreditos">Cristian Franco (Río, Juego y Aprendo) | Juan David Ayala (aeioTU).</p>
          </li>

          <li>
            <p class="negrita">Educación preescolar, básica y media:</p>
            <p class="textoCreditos">
              Diego Sánchez y María Alejandra Muñoz Pabón (Fundación Empresarios por la Educación) | Mónica Varona
              (Fundación Barco)
            </p>
          </li>

          <li>
            <p class="negrita">Ambiente sano:</p>
            <p class="textoCreditos">Natalia Ucros y Katherin Alfonso (Fondo Acción)</p>
          </li>

          <li>
            <p class="negrita">Juego:</p>
            <p class="textoCreditos">Irma Salazar y Jhaned Arango (Juego y Niñez)</p>
          </li>

          <li>
            <p class="negrita">Participación:</p>
            <p class="textoCreditos">
              Diana Carmona (NiñezYA Antioquia) | Jhaned Biviana Arango Puerta (Corporación Juego y Niñez)
            </p>
          </li>

          <li>
            <p class="negrita">Fortalecimiento inicial para el cuidado y la crianza:</p>
            <p class="textoCreditos">
              Sara Lara y Felipe Cortés (World Vision-WV/Save The Children) | Margarita Martinez (Fundación PLAN)
            </p>
          </li>

          <li>
            <p class="negrita">Adolescentes en conflicto con la ley con justicia restaurativa y pedagógica:</p>
            <p class="textoCreditos">Arturo Harker (Imagina) | Camila Cuellar (Consultora Independiente)</p>
          </li>

          <li>
            <p class="negrita">Cultura de paz, reconciliación y convivencia:</p>
            <p class="textoCreditos" style="margin-bottom:12vh">
              Felipe Cortés (Save the Children / Plan) | Margarita Martínez (Plan)
            </p>
          </li>
        </ol>
      </div>
      <p class="textoReconocimiento">
        El <span class="negrita">SIYA</span> fue construido con la asesoría técnica de un equipo de profesionales de
        diferentes organizaciones que conforman <span class="negrita">NiñezYA</span>:
      </p>
      <ul>
        <li>
          <p class="negrita">Fundación Éxito</p>
          <p class="textoCreditos">José Villegas</p>
        </li>
        <li>
          <p class="negrita">Imagina-Uniandes</p>
          <p class="textoCreditos">Arturo Harker</p>
          <p class="textoCreditos">Daniel Mendivelso</p>
          <p class="textoCreditos">Juliana Gutiérrez</p>
        </li>
        <li>
          <p class="negrita">Jerez&Sandoval-Medios y RS</p>
          <p class="textoCreditos">Ángela Constanza Jerez</p>
          <p class="textoCreditos">Diana Jerez</p>
          <p class="textoCreditos">Ninfa Sandoval</p>
        </li>
        <li>
          <p class="negrita">Laboratorio EnFlujo</p>
          <p class="textoCreditos">Juan Camilo González</p>
          <p class="textoCreditos">Antonia Bustamante</p>
          <p class="textoCreditos">Julián Camilo García Castro</p>
        </li>
        <li>
          <p class="negrita">Save The Children</p>
          <p class="textoCreditos">Felipe Cortés</p>
        </li>
        <li>
          <p class="negrita">United Way</p>
          <p class="textoCreditos">Alejandra Vargas</p>
        </li>
        <li>
          <p class="negrita">World Vision</p>
          <p class="textoCreditos" style="margin-bottom:30vh">Sara Lara</p>
        </li>
      </ul>

      <div></div>
    </div>
  </section>
</Plantilla>

<style lang="scss">
  @import '@/scss/constantes';

  section {
    width: 60vw;
    max-width: 1300px;
    margin: 0 auto;
  }
  #tituloPagina {
    padding: 2em 0 1em 0;
    font-family: var(--fuente);
  }

  #creditos {
    font-size: 1em;
    font-family: var(--fuente);
    color: var(--azulViejo);
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 1;

    .textoCreditos {
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 400,
        'slnt' 0,
        'CRSV' 0;
    }

    .textoReconocimiento {
      color: var(--moradoProfundo);
      font-size: 1.1em;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 400,
        'slnt' 0,
        'CRSV' 0;
    }

    ul {
      margin-top: 2em;
      .textoCreditos {
        margin-top: -0.5em;
      }
    }

    h3 {
      font-size: 1em;
      margin-bottom: -2em;
      color: var(--moradoProfundo);
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 700,
        'slnt' 0,
        'CRSV' 0;
    }
  }

  h1 {
    font-size: 2.2em;
    color: var(--moradoProfundo);
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 0;
  }

  li {
    font-variation-settings:
      'MONO' 1,
      'CASL' 0,
      'wght' 500,
      'slnt' 0,
      'CRSV' 0;
  }

  .voceros {
    line-height: 1em;
    .textoCreditos {
      padding-bottom: 0.3em;
    }
  }
  .rol {
    padding-top: 5em;
    padding-bottom: 2em;
    color: var(--moradoProfundo);
    font-size: 1.2em;
  }

  img {
    max-width: 60vw;
    display: block;
    max-height: 420px;
    margin-top: 3em;
    margin-left: 2vw;
  }
  .logoEnFlujo {
    display: block;
    margin-left: 5vw;
  }

  .logoImagina {
    display: block;
    margin-left: 3vw;
    mix-blend-mode: multiply;
  }

  .logoNinezYa {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  @media screen and (min-width: $corte2) {
    .logoNinezYa {
      display: block;
      margin-left: 6vw;
      margin-right: 10vw;
    }
  }

  @media screen and (min-width: $corte3) {
    .logoNinezYa {
      display: block;
      margin-left: 8vw;
      margin-right: 10vw;
    }
  }
  @media screen and (min-width: $corte4) {
    .logoNinezYa {
      display: block;
      margin-left: 12vw;
      margin-right: 10vw;
    }
  }
</style>
