---
import Plantilla from '@/plantillas/Principal.astro';
---

<Plantilla titulo="Créditos" descripcion="___" conMenu={false} imagen={{ ruta: '___.webp', alt: '___' }}>
  <section>
    <h1 id="tituloPagina">Créditos</h1>

    <div id="creditos">
      <div class="textoIntro">
        <p>
          El <span class="negrita">SIYA</span> tiene como objetivo central entregar indicadores relevantes, actualizados
          y de alta calidad a quienes tienen el poder y la responsabilidad de lograr el desarrollo pleno de niñas, niños
          y adolescentes: sociedad civil, funcionarios públicos, candidatos, mandatarios, legisladores, entre otros.
        </p>
      </div>

      <div>
        <a href="https://ninezya.org/" target="_blank">
          <img class="logoGrande" src={`${import.meta.env.BASE_URL}/imagenes/logoNinezYa.webp`} alt="Logo NiñezYA" /></a
        >
      </div>

      <h3 class="rol">Comité Directivo Nacional 2023</h3>

      <div class="filaLogos">
        <a href="https://abaco.org.co/" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/nacional_1_1.webp`}
            alt="Logo de ABACO: Asociación de Bancos de Alimentos de Colombia"
          />
        </a>

        <a href="https://imagina.uniandes.edu.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_1_2.webp`} alt="Logo de Imagina" />
        </a>

        <a href="https://juegoyninez.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_1_3.webp`} alt="Logo Corporación Juego y Niñez" />
        </a>

        <a href="https://sedecom.org.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_1_4.webp`} alt="Logo Corporación Sedecom" />
        </a>

        <a href="https://fondoaccion.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_1_5.webp`} alt="Logo Fondo para la Acción" />
        </a>
      </div>

      <div class="filaLogos">
        <a href="https://fundacionbarco.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_2_1.webp`} alt="Logo de Fundación Barco" />
        </a>

        <a href="https://bernardvanleer.org/" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/nacional_2_2.webp`}
            alt="Logo de Bernard van Leer Foundation"
          />
        </a>

        <a href="https://fundacionexe.org.co/" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/nacional_2_3.webp`}
            alt="Logo Fundación Empresarios por la Educación"
          />
        </a>

        <a href="https://www.fundacionexito.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_2_4.webp`} alt="Logo Fundación Exito" />
        </a>

        <a href="https://fundacionfemsa.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_2_5.webp`} alt="Logo Fundación FEMSA" />
        </a>
      </div>

      <div class="filaLogos">
        <a href="https://www.wearelumos.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_3_1.webp`} alt="Logo de Lumos Foundation" />
        </a>

        <a href="https://www.plan.org.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_3_2.webp`} alt="Logo de Fundación PLAN" />
        </a>

        <a href="https://www.saldarriagaconcha.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_3_3.webp`} alt="Logo Fundación Saldarriaga Concha" />
        </a>

        <a href="https://savethechildren.org.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_3_4.webp`} alt="Logo Save the children" />
        </a>

        <a href="https://unitedwaycolombia.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_3_5.webp`} alt="Logo United Way Colombia" />
        </a>
      </div>

      <div class="filaLogos">
        <a href="https://jerezsandoval.com/" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/nacional_4_1.webp`}
            alt="Logo de Jerez & Sandoval: Medios y Responsabilidad Social"
          />
        </a>

        <a href="https://www.proantioquia.org.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_4_2.webp`} alt="Logo de Proantioquia" />
        </a>

        <a href="https://www.worldvision.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_4_3.webp`} alt="Logo de World Vision" />
        </a>

        <a href="https://savethechildren.org.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/nacional_4_4.webp`} alt="Logo Save the children" />
        </a>
      </div>

      <h3 class="rol">Comité Coordinador Antioquia 2023</h3>

      <div class="filaLogos">
        <a href="https://www.comfama.com/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_1_1.webp`} alt="Logo de COMFAMA" />
        </a>

        <a href="https://www.comfenalcoantioquia.com.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_1_2.webp`} alt="Logo de Comfenalco Antioquia" />
        </a>

        <a href="https://corporacionpan.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_1_3.webp`} alt="Logo PAN: Corporación Social" />
        </a>

        <a href="https://faong.org/" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/antioquia_1_4.webp`}
            alt="Logo Federación Antioqueña de ONG"
          />
        </a>

        <a href="https://www.antioquiainfantil.org/" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/antioquia_1_5.webp`}
            alt="Logo de Fain Fundación para crecer y ser feliz"
          />
        </a>

        <a href="https://www.carlacristina.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_1_6.webp`} alt="Logo Fundación Carla Cristina" />
        </a>
      </div>

      <div class="filaLogos">
        <a href="https://cinde.org.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_2_1.webp`} alt="Logo de Fundación CINDE" />
        </a>

        <a href="https://www.fundacionexito.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_2_2.webp`} alt="Logo de Fundación Exito" />
        </a>

        <a href="https://www.instagram.com/lafundacionhaceb/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_2_3.webp`} alt="Logo Fundación Haceb" />
        </a>

        <a href="https://hogaresjuvenilescampesinos.org/" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/antioquia_2_4.webp`}
            alt="Logo de Hogares Juveniles Campesinos"
          />
        </a>

        <a href="https://www.fundacionlasgolondrinas.org/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_2_5.webp`} alt="Logo Fundación las Golondrinas" />
        </a>
      </div>

      <div class="filaLogos">
        <a href="https://fundacionspds.org/" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/antioquia_3_1.webp`}
            alt="Logo de Fundación Sofía Pérez de Soto"
          />
        </a>

        <a href="https://presencia.org.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_3_2.webp`} alt="Logo PRESENCIA Colombo Suiza" />
        </a>

        <a href="https://www.proantioquia.org.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_3_3.webp`} alt="Logo Proantioquia" />
        </a>

        <a href="https://www.eafit.edu.co/ninos/Paginas/inicio.aspx" target="_blank" class="logoCreditos">
          <img
            src={`${import.meta.env.BASE_URL}/imagenes/antioquia_3_4.webp`}
            alt="Logo de Universidad de los Niños, EAFIT"
          />
        </a>

        <a href="https://www.worldvision.co/" target="_blank" class="logoCreditos">
          <img src={`${import.meta.env.BASE_URL}/imagenes/antioquia_3_5.webp`} alt="Logo World Vision" />
        </a>
      </div>

      <h2 class="rol">Desarrolla:</h2>

      <a href="https://imagina.uniandes.edu.co/" target="_blank">
        <img
          class="logoImagina logoGrande"
          src={`${import.meta.env.BASE_URL}/imagenes/Imagina.webp`}
          alt="Logo Centro IMAGINA"
        /></a
      >

      <a href="https://enflujo.com" target="_blank">
        <img
          class="logoEnFlujo logoGrande"
          src={`${import.meta.env.BASE_URL}/imagenes/enflujo_andes.svg`}
          alt="Logo Laboratorio EnFlujo"
        /></a
      >

      <div class="voceros">
        <h2 class="rol">Definición indicadores por cada YA</h2>
        <ol>
          <li>
            <p class="negrita">Salud-Nutrición:</p>
            <p class="textoCreditos">Carolina Turriago y María Juliana Ortiz Soto (Fundación Éxito)</p>
          </li>

          <li>
            <p class="negrita">Salud mental:</p>
            <p class="textoCreditos">
              Norma Constanza Sánchez y Lina María Gonzalez Ballesteros (Fundación Saldarriaga Concha)
            </p>
          </li>

          <li>
            <p class="negrita">Educación inicial:</p>
            <p class="textoCreditos">Cristian Franco (Río, Juego y Aprendo) | Juan David Ayala (aeioTU).</p>
          </li>

          <li>
            <p class="negrita">Educación básica y media:</p>
            <p class="textoCreditos">
              Diego Sánchez y María Alejandra Muñoz Pabón (Fundación Empresarios por la Educación) | Mónica Varona
              (Fundación Barco)
            </p>
          </li>

          <li>
            <p class="negrita">Ambiente sano:</p>
            <p class="textoCreditos">Natalia Ucros y Katherin Alfonso (Fondo Acción)</p>
          </li>

          <li>
            <p class="negrita">Juego:</p>
            <p class="textoCreditos">Irma Salazar y Jhaned Arango (Juego y Niñez)</p>
          </li>

          <li>
            <p class="negrita">Participación:</p>
            <p class="textoCreditos">
              Diana Carmona (NiñezYA Antioquia) | Jhaned Biviana Arango Puerta (Corporación Juego y Niñez)
            </p>
          </li>

          <li>
            <p class="negrita">Fortalecimiento inicial para el cuidado y la crianza:</p>
            <p class="textoCreditos">
              Sara Lara y Felipe Cortés (World Vision-WV/Save The Children) | Margarita Martinez (Fundación PLAN)
            </p>
          </li>

          <li>
            <p class="negrita">Adolescentes en conflicto con la ley con justicia restaurativa y pedagógica:</p>
            <p class="textoCreditos">Arturo Harker (Imagina) | Camila Cuellar (Consultora Independiente)</p>
          </li>

          <li>
            <p class="negrita">Cultura de paz, reconciliación y convivencia:</p>
            <p class="textoCreditos" style="margin-bottom:12vh">
              Felipe Cortés (Save the Children / Plan) | Margarita Martínez (Plan)
            </p>
          </li>
        </ol>
      </div>

      <p class="textoReconocimiento">
        El <span class="negrita">SIYA</span> fue construido con la asesoría técnica de un equipo de profesionales de diferentes
        organizaciones que conforman <span class="negrita">NiñezYA</span>:
      </p>

      <ul>
        <li>
          <p class="negrita">Fundación Éxito</p>
          <p class="textoCreditos">José Villegas</p>
        </li>
        <li>
          <p class="negrita">Imagina-Uniandes</p>
          <p class="textoCreditos">Arturo Harker</p>
          <p class="textoCreditos">Daniel Mendivelso</p>
          <p class="textoCreditos">Juliana Gutiérrez</p>
        </li>
        <li>
          <p class="negrita">Jerez&Sandoval-Medios y RS</p>
          <p class="textoCreditos">Ángela Constanza Jerez</p>
          <p class="textoCreditos">Diana Jerez</p>
          <p class="textoCreditos">Ninfa Sandoval</p>
        </li>
        <li>
          <p class="negrita">Laboratorio EnFlujo</p>
          <p class="textoCreditos">Juan Camilo González</p>
          <p class="textoCreditos">Antonia Bustamante Robledo</p>
          <p class="textoCreditos">Julián Camilo García Castro</p>
        </li>
        <li>
          <p class="negrita">Save The Children</p>
          <p class="textoCreditos">Felipe Cortés</p>
        </li>
        <li>
          <p class="negrita">United Way</p>
          <p class="textoCreditos">Alejandra Vargas</p>
        </li>
        <li>
          <p class="negrita">World Vision</p>
          <p class="textoCreditos" style="margin-bottom:30vh">Sara Lara</p>
        </li>
      </ul>
    </div>
  </section>
</Plantilla>

<style lang="scss">
  @import '@/scss/constantes';

  section {
    width: 60vw;
    max-width: 1300px;
    margin: 0 auto;
  }
  #tituloPagina {
    // padding: 2em 0 1em 0;
    margin-top: 2em;
    font-family: var(--fuente);
  }

  .filaLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logoGrande {
    display: block;
    height: 180px;
    width: auto;
    margin: 2em auto 0 auto;
    &.logoImagina {
      height: 50px;
      mix-blend-mode: multiply;
    }

    &.logoEnFlujo {
      height: 35px;
    }
  }

  .logoCreditos {
    background-color: white;
    border: 2px solid rgb(234, 234, 234);

    img {
      height: 60px;
      width: auto;
      margin: 0;
    }
  }

  #creditos {
    font-size: 1em;
    font-family: var(--fuente);
    color: var(--azulViejo);
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 1;
    margin-left: -20px;
    margin-right: -30px;

    .textoIntro {
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 400,
        'slnt' 0,
        'CRSV' 0;
    }

    .textoCreditos {
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 400,
        'slnt' 0,
        'CRSV' 0;
    }

    .textoReconocimiento {
      color: var(--uvaNinezYa);
      font-size: 1.3em;
      line-height: 1.3em;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 400,
        'slnt' 0,
        'CRSV' 0;
    }

    ul {
      margin-top: 2em;
      .textoCreditos {
        margin-top: -0.5em;
      }
    }
  }

  h1 {
    font-size: 2.4em;

    color: var(--uvaNinezYa);
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 0;
  }

  h3 {
    font-size: 1em;
    color: var(--uvaNinezYa);
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 0;
  }

  li {
    margin-left: 2em;
    font-variation-settings:
      'MONO' 1,
      'CASL' 0,
      'wght' 500,
      'slnt' 0,
      'CRSV' 0;
  }

  .voceros {
    line-height: 1em;
    .textoCreditos {
      padding-bottom: 0.3em;
    }
  }

  .rol {
    font-size: 1.5em;
    padding: 3em 0 1em 0;
    color: var(--uvaNinezYa);
    line-height: 1.2em;
  }
  @media screen and (min-width: $corte2) {
    #creditos {
      margin-left: 0px;
      margin-right: 0px;
    }

    .logoGrande {
      &.logoImagina {
        height: 100px;
      }

      &.logoEnFlujo {
        height: 68px;
      }
    }

    .logoCreditos {
      background-color: white;
      border: 2px solid rgb(234, 234, 234);

      img {
        height: 80px;
        width: auto;
        margin: 0;
      }
    }
  }

  @media screen and (min-width: $corte3) {
    .textoCreditos {
      max-width: 900px;
    }

    .logoGrande {
      &.logoImagina {
        height: 180px;
      }

      &.logoEnFlujo {
        height: 126px;
      }
    }

    .filaLogos {
      display: flex;
      justify-content: center;
      flex-wrap: unset;
    }
    .logoCreditos {
      background-color: white;
      border: 2px solid rgb(234, 234, 234);

      img {
        height: 95px;
        width: auto;
        margin: 0;
      }
    }
  }
</style>
