---
import Plantilla from '@/plantillas/Principal.astro';
---

<Plantilla titulo="Datos" conMenu={false}>
  <section>
    <h1 id="tituloPagina">Datos</h1>

    <div id="datos">
      <div class="textoDatos">
        <p>
          Aquí se encuentran los datos en bruto para descarga directa. A través del menú selecciona el indicador cuyos
          datos quieres obtener. Los datos están disponibles en <span class="negrita">.xlsx</span> o
          <span class="negrita">.zip</span>
        </p>
      </div>

      <form>
        <label for="opciones">Selecciona un YA</label>
        <select id="opciones" name="opciones">
          <option value="opcion1">1. Salud y nutrición</option>
          <option value="opcion2">2. Educación inicial</option>
          <option value="opcion3">3. Educación preescolar, básica y media</option>
          <option value="opcion4">4. Ambiente sano</option>
          <option value="opcion5">5. Juego</option>
          <option value="opcion6">6. Participación</option>
          <option value="opcion7">7. Fortalecimiento Familiar del cuidado y la crianza de la niñez</option>
          <option value="opcion8">8. Protección frente a cualquier tipo de violencia</option>
          <option value="opcion9"
            >9. Adolescentes con justicia restaurativa y pedagógica (sistema de responsabilidad penal para adolescentes
            - SRPA)</option
          >
          <option value="opcion10">10. Cultura de paz, reconciliación y convivencia</option>
        </select>

        <div id="indicadores">
          <div class="indicador">
            <p class="columna enlace">
              <a :href="">
                <span class="nombre">Cobertura de acueducto</span>
                <span class="peso">(4,81MB)</span>
                <img
                  class="iconoDescarga"
                  src={`${import.meta.env.BASE_URL}/imagenes/icono-descarga.svg`}
                  alt="Icono Descarga"
                />
              </a>
            </p>
          </div>
          <div class="indicador">
            <p class="columna enlace">
              <a :href="">
                <span class="nombre">Cobertura de alcantarillado</span>
                <span class="peso">(4,52MB)</span>
                <img
                  class="iconoDescarga"
                  src={`${import.meta.env.BASE_URL}/imagenes/icono-descarga.svg`}
                  alt="Icono Descarga"
                />
              </a>
            </p>
          </div>

          <div class="indicador">
            <p class="columna enlace">
              <a :href="">
                <span class="nombre">Mortalidad menores de 5 años (cualquier condición)</span>
                <span class="peso">(3,18MB)</span>
                <img
                  class="iconoDescarga"
                  src={`${import.meta.env.BASE_URL}/imagenes/icono-descarga.svg`}
                  alt="Icono Descarga"
                />
              </a>
            </p>
          </div>

          <div class="indicador">
            <p class="columna enlace">
              <a :href="">
                <span class="nombre">Control prenatal</span>
                <span class="peso">(5,78MB)</span>
                <img
                  class="iconoDescarga"
                  src={`${import.meta.env.BASE_URL}/imagenes/icono-descarga.svg`}
                  alt="Icono Descarga"
                />
              </a>
            </p>
          </div>

          <div class="indicador">
            <p class="columna enlace">
              <a :href="">
                <span class="nombre">Desnutrición aguda</span>
                <span class="peso">(4,44MB)</span>
                <img
                  class="iconoDescarga"
                  src={`${import.meta.env.BASE_URL}/imagenes/icono-descarga.svg`}
                  alt="Icono Descarga"
                />
              </a>
            </p>
          </div>

          <div class="indicador">
            <p class="columna enlace">
              <a :href="">
                <span class="nombre">Bajo peso al nacer</span>
                <span class="peso">(2,74MB)</span>
                <img
                  class="iconoDescarga"
                  src={`${import.meta.env.BASE_URL}/imagenes/icono-descarga.svg`}
                  alt="Icono Descarga"
                />
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </section>

  <style lang="scss">
    section {
      width: 60vw;
      max-width: 1300px;
      margin: 0 auto;
    }
    #tituloPagina {
      padding: 2em 0 1em 0;
      font-family: var(--fuente);
    }

    #datos {
      max-width: 40vw;
      font-size: 1em;
      font-family: var(--fuente);
      color: var(--azulViejo);
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 700,
        'slnt' 0,
        'CRSV' 1;

      .textoDatos {
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 400,
          'slnt' 0,
          'CRSV' 0;
      }
    }
    form {
      margin-top: 2em;
      color: var(--moradoProfundo);
      font-variation-settings:
        'MONO' 1,
        'CASL' 0,
        'wght' 800,
        'slnt' 0,
        'CRSV' 0;
    }

    #opciones {
      background-color: #ffffec;
      max-width: 30vw;
    }

    h1 {
      font-size: 2.2em;
      color: var(--moradoProfundo);
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 700,
        'slnt' 0,
        'CRSV' 0;
    }

    .iconoDescarga {
      width: 22px;
      margin-left: 0.5em;
      vertical-align: bottom;
    }

    #indicadores {
      width: 50vw;
      margin-top: 2em;
    }

    .indicador {
      // display: flex;
      width: 40vw;
      margin: 0.4em 0;
      border: 1px dotted;
      justify-content: space-between;
    }
  </style>
</Plantilla>
