---
import FichaTecnica from '@/componentes/FichaTecnica.astro';
import datos from '@/datosVisibles/indicadores';
import Plantilla from '@/plantillas/Principal.astro';
import pesos from '@/datosVisibles/pesosArchivos.json';
---

<Plantilla
  titulo="Datos"
  descripcion="Aquí se encuentran los datos para descarga directa de todos los indicadores utilizados en SIYA."
  conMenu={false}
  imagen={{ ruta: '___.webp', alt: '___' }}
>
  <section>
    <h1 id="tituloPagina">Datos</h1>

    <div id="datos">
      <div class="textoDatos">
        <p>
          Aquí se encuentran los datos en bruto para descarga directa. A través del menú selecciona el <span
            class="negrita">YA</span
          > del cual quieres obtener datos. Los datos están disponibles en <span class="negrita">.xlsx</span>.
        </p>
      </div>

      <form id="selector">
        <label for="opciones">Selecciona un YA</label>
        <select id="opciones" name="opciones">
          {datos.map((ya, i) => ya.hay_datos && <option value={ya.ruta}>{`${i + 1}. ${ya.nombre}`}</option>)}
        </select>
      </form>

      <div id="indicadores">
        {
          datos.map(
            (ya, i) =>
              ya.hay_datos && (
                <div id={ya.ruta} class={`contenedorYa${i === 0 ? ' visible' : ''}`}>
                  {ya.indicadores.map((indicador) => {
                    return (
                      <div class="indicador">
                        <p class="columna enlace">
                          {pesos[indicador.archivo] && (
                            <a
                              href={`${import.meta.env.BASE_URL}/estaticos/datos/${
                                pesos[indicador.archivo].nombre
                              }.xlsx`}
                            >
                              <span class="nombre">{indicador.nombre}</span>
                              <span class="peso">({pesos[indicador.archivo].peso})</span>
                              <img
                                class="iconoDescarga"
                                src={`${import.meta.env.BASE_URL}/imagenes/icono-descarga.svg`}
                                alt="Icono Descarga"
                              />
                            </a>
                          )}
                        </p>
                      </div>
                    );
                  })}
                </div>
              )
          )
        }
      </div>
    </div>
  </section>
</Plantilla>
<!-- <FichaTecnica rutaYa={ya.ruta} rutaIndicador={indicador.ruta} /> -->
<script>
  const selector = document.getElementById('selector') as HTMLFormElement;
  const opciones = document.getElementById('opciones') as HTMLSelectElement;
  const contenedor = document.getElementById('indicadores') as HTMLDivElement;

  selector.onchange = () => {
    if (opciones.value) {
      const contenedorYa = document.getElementById(opciones.value);
      const visible = contenedor.querySelector<HTMLDivElement>('.visible') as HTMLDivElement;
      visible.classList.remove('visible');
      contenedorYa.classList.add('visible');
    }
  };
</script>

<style lang="scss">
  section {
    width: 60vw;
    max-width: 1300px;
    margin: 0 auto 7em auto;
  }
  #tituloPagina {
    padding: 2em 0 1em 0;
    font-family: var(--fuente);
  }

  #datos {
    max-width: 40vw;
    font-size: 1em;
    font-family: var(--fuente);
    color: var(--azulViejo);
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 1;

    .textoDatos {
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 400,
        'slnt' 0,
        'CRSV' 0;
    }
  }
  form {
    margin-top: 2em;
    color: var(--moradoProfundo);
    font-variation-settings:
      'MONO' 1,
      'CASL' 0,
      'wght' 800,
      'slnt' 0,
      'CRSV' 0;
  }

  #opciones {
    background-color: #ffffec;
    max-width: 30vw;
  }

  h1 {
    font-size: 2.2em;
    color: var(--moradoProfundo);
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 0;
  }

  .iconoDescarga {
    width: 22px;
    margin-left: 0.5em;
    vertical-align: bottom;
  }

  #indicadores {
    width: 50vw;
    margin-top: 2em;
  }

  .indicador {
    // display: flex;
    width: 40vw;
    margin: 0.4em 0;
    border: 1px dotted;
    justify-content: space-between;
  }

  .contenedorYa {
    display: none;

    &.visible {
      display: block;
    }
  }
</style>
