---
import datos from '@/datosVisibles/indicadores';
import Plantilla from '@/plantillas/Principal.astro';
import MenuAnios from '@/componentes/MenuAnios.astro';
import SelectorNivel from '@/componentes/SelectorNivel.astro';
import Mapa from '@/componentes/Mapa.astro';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import type { GetStaticPaths } from 'astro';
import FichaTecnica from '@/componentes/FichaTecnica.astro';

export const getStaticPaths = (() => {
  return datos
    .map((ya) => {
      return ya.indicadores.map((indicador) => {
        return { params: { ya: ya.ruta, indicador: indicador.ruta } };
      });
    })
    .flat();
}) satisfies GetStaticPaths;

const { ya, indicador } = Astro.params;
const datosYa = datos.find((instancia) => instancia.ruta === ya);
const datosIndicador = datosYa.indicadores.find((instancia) => instancia.ruta === indicador);
---

<Plantilla titulo={datosIndicador.nombre}>
  <div id="visualizaciones" class="columna" data-archivo={datosIndicador.archivo}>
    <div id="filtros">
      <div id="indicadorSeleccionado">
        <h2 id="nombreYa">{datosYa.nombre}</h2>
        <h3 id="nombreIndicador">{datosIndicador.nombre}</h3>
        <span id="abrirFicha">?</span>
      </div>
      <FichaTecnica />
      <MenuAnios />
      <SelectorNivel />
    </div>
    <Mapa ancho={30} alto={45} />

    <LineaTiempo alto={25} />
  </div>

  <div id="comparativo" class="columna"></div>
  <div id="informacion"></div>
</Plantilla>

<script>
  import MapaDetalle from '@/componentes/MapaDetalle';
  import { añoSeleccionado, lugaresSeleccionados, cargarIndicador } from '@/utilidades/cerebro';
  const comparativo = document.getElementById('comparativo');
  const botonFicha = document.getElementById('abrirFicha');
  const infoAdicional = document.getElementById('contenedorInfoAdicional');

  botonFicha.addEventListener('click', () => {
    infoAdicional.classList.toggle('abierta');
  });

  async function inicio() {
    await cargarIndicador();
  }

  inicio().catch(console.error);

  añoSeleccionado.subscribe(async () => {
    const existentes = comparativo.querySelectorAll<MapaDetalle>('enflujo-mapita');

    if (existentes && existentes.length) {
      existentes.forEach((mapita) => {
        mapita.pintarMapa();
      });
    }
  });

  window.addEventListener('resize', () => {
    const existentes = comparativo.querySelectorAll<MapaDetalle>('enflujo-mapita');

    if (existentes && existentes.length) {
      existentes.forEach((mapita) => {
        mapita.escalar();
      });
    }
  });

  lugaresSeleccionados.subscribe((lista) => {
    const existentes = comparativo.querySelectorAll<MapaDetalle>('enflujo-mapita');

    if (lista.length) {
      lista.forEach(({ nombre, codigo }) => {
        let existeLugarEnDOM = false;

        existentes.forEach((mapita) => {
          if (mapita.id === `${codigo}`) {
            existeLugarEnDOM = true;
          }

          // Borrar si no está en la lista
          if (!lista.find((lugar) => lugar.codigo === mapita.id)) {
            if (comparativo.contains(mapita)) {
              comparativo.removeChild(mapita);
            }
          }
        });

        if (!existeLugarEnDOM) {
          const mapita = document.createElement('enflujo-mapita') as MapaDetalle;
          mapita.className = 'mapita';
          mapita.id = `${codigo}`;
          mapita.dataset.departamento = nombre;
          mapita.agregarTitulo(nombre);

          mapita.crearMapa();
          mapita.escalar();
          mapita.pintarMapa();
          comparativo.appendChild(mapita);
        }
      });
    } else {
      comparativo.innerHTML = '';
    }
  });
</script>

<style lang="scss">
  #indicadorSeleccionado {
    color: var(--moradoProfundo);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
    min-width: 250px;
    width: 15vw;
    margin: 1em;

    #nombreYa {
      flex-basis: 100%;
      background-color: var(--moradoProfundo);
      color: white;
      padding: 0.3em;
      margin: 0;
      border: 1px solid var(--moradoProfundo);
    }

    #nombreIndicador {
      flex-basis: 100%;
      padding: 0.3em;
      margin: 0;
      border: 1px solid var(--moradoProfundo);
    }

    #abrirFicha {
      display: block;
      position: relative;
      left: 96%;
      bottom: 10px;
      background-color: var(--blancoMarfil);
      border-radius: 50%;
      padding: 0.3em;
      width: 1em;
      height: 1em;
      text-align: center;
      font-size: 0.8em;
      border: solid 1px var(--azulViejo);
      color: var(--azulViejo);
      cursor: pointer;
    }
  }
</style>
