---

---

<nav id="encabezado">
  <a id="logo" href={`${import.meta.env.BASE_URL}/`}>
    <img src={`${import.meta.env.BASE_URL}/logo.png`} alt="Logo Niñez Ya." />
  </a>

  <ul id="menuSuperior">
    <li class="elementoMenu"><a href={`${import.meta.env.BASE_URL}/`}>Inicio</a></li>
    <li class="elementoMenu"><a href={`${import.meta.env.BASE_URL}/datos`}>Datos</a></li>
    <li class="elementoMenu"><a href={`${import.meta.env.BASE_URL}/creditos`}>Créditos</a></li>
  </ul>

  <p id="nombreProyecto">Sistema de Indicadores de los YA (SIYA)</p>
</nav>

<style lang="scss">
  @import '@/scss/constantes';

  nav {
    display: flex;
    justify-content: space-around;
  }
  #encabezado {
    height: $altoMenuSuperior;
    width: 100%;
    background-color: var(--moradoProfundo);
    color: white;
    top: 0;
    z-index: 10;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }
  #logo {
    height: $altoMenuSuperior - 10;
    margin: 0 1em 0 1.5em;

    img {
      width: auto;
      height: 100%;
    }
  }

  #menuSuperior {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;

    a {
      color: white;
      text-decoration: none;
    }

    a:visited {
      color: white;
    }

    a:hover {
      color: var(--aguaMarinaNinezYa);
    }
  }

  .elementoMenu {
    font-size: 0.95em;
    margin-right: 3em;
    cursor: pointer;

    &:hover {
      color: var(--uvaNinezYa);
    }
  }

  #nombreProyecto {
    font-size: 0.85em;
    margin-left: auto;
    margin-right: 10px;
  }
</style>
