---
import datos from '@/datosVisibles/indicadores';
import { urlsAEnlacesHTML } from '@enflujo/alquimia';

interface Props {
  rutaYa: string;
  rutaIndicador: string;
}

const { rutaYa, rutaIndicador } = Astro.props;
const datosYa = datos.find((instancia) => instancia.ruta === rutaYa);
const datosIndicador = datosYa.indicadores.find((instancia) => instancia.ruta === rutaIndicador);
---

<div class="fichaTecnica">
  <h2 class="tituloSeccion tituloYa">{datosYa.nombre}</h2>
  <p class="nombre">{datosIndicador.nombre}</p>

  <div class="seccion">
    <h4 class="titulo">Definición</h4>
    <p class="texto" set:html={urlsAEnlacesHTML(datosIndicador.definicion)} />
  </div>

  <h3 class="tituloSeccion">Información técnica</h3>

  <section class="inferior">
    {
      datosIndicador.unidad && (
        <div class="seccion">
          <h4 class="titulo">Unidad de medida</h4>
          <p class="texto">{datosIndicador.unidad}</p>
        </div>
      )
    }

    {
      datosIndicador.metodologia && (
        <div class="seccion">
          <h4 class="titulo">Metodología de cálculo</h4>
          <p class="texto" set:html={urlsAEnlacesHTML(datosIndicador.metodologia)} />
        </div>
      )
    }

    {
      datosIndicador.fuente_numerador && (
        <div class="seccion">
          <h4 class="titulo">Fuente del numerador</h4>
          <p class="texto">{datosIndicador.fuente_numerador}</p>
        </div>
      )
    }

    {
      datosIndicador.fuente_denominador && (
        <div class="seccion">
          <h4 class="titulo">Fuente del denominador</h4>
          <p class="texto">{datosIndicador.fuente_denominador}</p>
        </div>
      )
    }

    {
      datosIndicador.desagregacion && (
        <div class="seccion">
          <h4 class="titulo">Nivel de desagregación</h4>
          <p class="texto">{datosIndicador.desagregacion}</p>
        </div>
      )
    }

    {
      datosIndicador.contexto && (
        <div class="seccion">
          <h4 class="titulo">Contexto</h4>
          <p class="texto" set:html={urlsAEnlacesHTML(datosIndicador.contexto)} />
        </div>
      )
    }

    {
      datosIndicador.explicacion_umbral && (
        <div class="seccion">
          <h4 class="titulo">Meta</h4>
          <p class="texto" set:html={urlsAEnlacesHTML(datosIndicador.explicacion_umbral)} />
        </div>
      )
    }

    {
      datosIndicador.interpretacion && (
        <div class="seccion">
          <h4 class="titulo">Cómo se interpreta</h4>
          <p class="texto" set:html={urlsAEnlacesHTML(datosIndicador.interpretacion)} />
        </div>
      )
    }
  </section>
</div>

<style lang="scss">
  @import '@/scss/constantes';
  .fichaTecnica {
    min-width: 300px;
    border: solid 2px var(--azulViejo);
    border-radius: 15px;
    color: var(--azulViejo);
    background-color: var(--blancoMarfil);
    text-align: center;
    z-index: 9;
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 0;

    .tituloSeccion {
      background-color: var(--azulViejo);
      color: var(--blancoMarfil);
      width: auto;
      padding: 0.3em;
      margin: 0;
      font-size: 1em;
    }

    .tituloYa {
      border-radius: 10px 10px 0 0;
      font-size: 1.1em;
    }

    .nombre {
      border-bottom: solid 2px var(--azulViejo);
      font-size: 1em;
      margin: 0;
      padding: 0.3em;
    }

    .inferior {
      display: flex;
      flex-direction: column;
    }

    .seccion {
      display: flex;
      align-items: center;
      margin: 0;
      align-items: stretch;
      border-bottom: solid 2px var(--azulViejo);

      &:last-child {
        border-bottom: none;
      }

      .titulo {
        width: 0;
        font-size: 0.8em;
        text-align: left;
        flex-basis: 53%;
        margin: 0;
        padding: 0.8em;
        text-transform: uppercase;
        border-right: solid 2px var(--azulViejo);
      }

      .texto {
        font-size: 0.8em;
        padding: 0.8em;
        margin: 0;
        text-align: left;
        flex-basis: 80%;
        display: flex;
        min-height: 2.3em;
        text-wrap: wrap;
        overflow-wrap: anywhere;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  /// ✂️ Cortes pantalla
  @media screen and (min-width: $corte1) {
    .fichaTecnica {
      min-width: 330px;
      width: 70vw;
      .seccion {
        .titulo {
          flex-basis: 50%;
        }
      }
    }
  }

  @media screen and (min-width: $corte2) {
  }

  @media screen and (min-width: $corte3) {
    .fichaTecnica {
      .seccion {
        .titulo {
          flex-basis: 45%;
        }
      }
    }
  }

  @media screen and (min-width: $corte4) {
    .fichaTecnica {
      width: 40vw;
      max-width: 700px;
    }
  }
</style>
