---
import datos from '@/datosVisibles/indicadores';
const { ya, indicador } = Astro.params;
const datosYa = datos.find((instancia) => instancia.ruta === ya);
const datosIndicador = datosYa.indicadores.find((instancia) => instancia.ruta === indicador);
---

<div id="contenedorInfoAdicional">
  <div id="fichaTecnica">
    <h2 id="ya" class="tituloSeccion">{datosYa.nombre}</h2>
    <h3 id="nombre">{datosIndicador.nombre}</h3>
    <div class="seccion"><h4 class="titulo">Definición</h4><p class="texto">{datosIndicador.definicion}</p></div>
    <div class="tituloSeccion">INFORMACIÓN TÉCNICA</div>
    <section id="inferior">
      <div class="seccion"><h4 class="titulo">Unidad de medida</h4><p class="texto">{datosIndicador.unidad}</p></div>
      <div class="seccion">
        <h4 class="titulo">Metodología de cálculo</h4><p class="texto">{datosIndicador.metodologia}</p>
      </div>
      <div class="seccion">
        <h4 class="titulo">Fuente del numerador</h4><p class="texto">{datosIndicador.fuente_numerador}</p>
      </div>
      <div class="seccion">
        <h4 class="titulo">Fuente del denominador</h4><p class="texto">{datosIndicador.fuente_denominador}</p>
      </div>
      <div class="seccion">
        <h4 class="titulo">Nivel de desagregación</h4><p class="texto">{datosIndicador.desagregacion}</p>
      </div>
      <div class="seccion">
        <h4 class="titulo">Cómo se interpreta</h4><p class="texto">{datosIndicador.interpretacion}</p>
      </div>
    </section>
  </div>

  <div id="contenedorSugerencias">
    <div id="aviso">
      No hay información suficiente para reconstruir este indicador. Aquí hay algunas sugerencias de cómo podría
      trabajarse.
    </div>
    <div class="sugerencia">
      <h4 class="titulo">Responsables de medición</h4><p class="texto">
        Ej. DANE (Departamento Administrativo Nacional de Estadística)
      </p>
    </div>
    <div class="sugerencia">
      <h4 class="titulo">A quién le compete</h4><p class="texto">
        Ej. ICBF (Instituto Colombiano de Bienestar Familiar)
      </p>
    </div>
  </div>
</div>

<script>
  const ficha = document.getElementById('fichaTecnica');
  const abrirFicha = document.getElementById('abrirFicha');

  // Cerrar ficha al hacer click afuera
  document.body.onclick = (evento) => {
    if (evento.target === abrirFicha) return;

    if (!(ficha === evento.target || ficha.contains(evento.target as Node))) {
      ficha.classList.remove('abierta');
    }
  };
</script>

<style lang="scss">
  #contenedorInfoAdicional {
    display: none;
    position: absolute;
    justify-content: space-around;
    background-color: var(--blancoMarfil);

    #fichaTecnica {
      width: 20vw;
      min-width: 300px;
      flex-direction: column;
      border: solid 2px var(--azulViejo);
      border-radius: 15px;
      color: var(--azulViejo);
      background-color: var(--blancoMarfil);
      text-align: center;
      z-index: 9;
      left: 23vw;
      top: 19vh;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 700,
        'slnt' 0,
        'CRSV' 0;

      .tituloSeccion {
        background-color: var(--azulViejo);
        color: var(--blancoMarfil);
        width: auto;
        padding: 0.3em;
        margin: 0;
        font-size: 1em;
      }

      #ya {
        border-radius: 10px 10px 0 0;
      }

      #nombre {
        border-bottom: solid 2px var(--azulViejo);
        font-size: 1em;
        margin: 0;
        padding: 0.3em;
      }

      #inferior {
        display: flex;
        flex-direction: column;
      }

      .seccion {
        display: flex;
        align-items: center;
        margin: 0;
        border-bottom: solid 2px var(--azulViejo);

        &:last-child {
          border-bottom: none;
        }

        .titulo {
          width: 0;
          font-size: 0.8em;
          text-align: left;
          min-width: 115px;
          margin: 0;
          padding: 0.8em;
          text-transform: uppercase;
        }

        .texto {
          font-size: 0.8em;
          padding: 0.8em;
          margin: 0;
          text-align: left;
          border-left: solid 2px var(--azulViejo);
          display: flex;
          align-items: center;
          min-height: 2.3em;
        }
      }
    }

    #contenedorSugerencias {
      // PORHACER: Mostrar solo si el indicador no tiene datos - falta
      display: none;
      width: 30%;
      font-size: 0.9em;
      flex-direction: column;
      justify-content: space-between;

      #aviso {
        color: yellow;
        background-color: var(--uvaProfunda);
        padding: 3em;
        border: solid 2px yellow;
        border-radius: 10px;
      }

      .sugerencia {
        .titulo {
          background-color: var(--uvaProfunda);
          color: var(--blancoMarfil);
          padding: 2em 2em 1.5em 2em;
          border-radius: 10px 10px 0 0;
          margin-bottom: 0;
        }
        .texto {
          background-color: var(--blancoMarfil);
          color: var(--azulViejo);
          border: solid 2px var(--uvaProfunda);
          margin: 0;
          padding: 2em 2em 1.5em 2em;
        }
      }
    }

    &.abierta {
      display: flex;
    }
  }
</style>
