---
import datos from '@/datosVisibles/indicadores';
const { ya, indicador } = Astro.params;
const datosYa = datos.find((instancia) => instancia.ruta === ya);
const datosIndicador = datosYa.indicadores.find((instancia) => instancia.ruta === indicador);
---

<div id="fichaTecnica">
  <h2 id="ya" class="tituloSeccion">{datosYa.nombre}</h2>
  <h3 id="nombre">{datosIndicador.nombre}</h3>
  <div class="seccion"><h4 class="titulo">DEFINICIÓN</h4><p class="texto">{datosIndicador.definicion}</p></div>
  <div class="tituloSeccion">INFORMACIÓN TÉCNICA</div>
  <section id="inferior">
    <div class="seccion"><h4 class="titulo">UNIDAD DE MEDIDA</h4><p class="texto">{datosIndicador.unidad}</p></div>
    <div class="seccion">
      <h4 class="titulo">METODOLOGÍA DE CÁLCULO</h4><p class="texto">{datosIndicador.metodologia}</p>
    </div>
    <div class="seccion">
      <h4 class="titulo">FUENTE DEL NUMERADOR</h4><p class="texto">{datosIndicador.fuente_numerador}</p>
    </div>
    <div class="seccion">
      <h4 class="titulo">FUENTE DEL DENOMINADOR</h4><p class="texto">{datosIndicador.fuente_denominador}</p>
    </div>
    <div class="seccion">
      <h4 class="titulo">NIVEL DE DESAGREGACIÓN</h4><p class="texto">{datosIndicador.desagregacion}</p>
    </div>
    <div class="seccion">
      <h4 class="titulo">CÓMO SE INTERPRETA</h4><p class="texto">{datosIndicador.interpretacion}</p>
    </div>
  </section>
</div>

<script>
  const ficha = document.getElementById('fichaTecnica');
  const abrirFicha = document.getElementById('abrirFicha');

  // Cerrar ficha al hacer click afuera
  document.body.onclick = (evento) => {
    if (evento.target === abrirFicha) return;

    if (!(ficha === evento.target || ficha.contains(evento.target as Node))) {
      ficha.classList.remove('abierta');
    }
  };
</script>

<style lang="scss">
  #fichaTecnica {
    width: 20vw;
    min-width: 300px;
    display: none;
    flex-direction: column;
    border: solid 2px var(--azulViejo);
    border-radius: 15px;
    color: var(--azulViejo);
    background-color: var(--blancoMarfil);
    text-align: center;
    position: absolute;
    z-index: 9;
    left: 23vw;
    top: 19vh;

    .tituloSeccion {
      background-color: var(--azulViejo);
      color: var(--blancoMarfil);
      width: auto;
      padding: 0.3em;
      margin: 0;
      font-size: 1em;
    }

    #ya {
      border-radius: 10px 10px 0 0;
    }

    #nombre {
      border-bottom: solid 2px var(--azulViejo);
      font-size: 1em;
      margin: 0;
      padding: 0.3em;
    }

    #inferior {
      display: flex;
      flex-direction: column;
    }

    .seccion {
      display: flex;
      align-items: center;
      margin: 0;
      border-bottom: solid 2px var(--azulViejo);

      &:last-child {
        border-bottom: none;
      }

      .titulo {
        width: 0;
        font-size: 0.8em;
        text-align: left;
        min-width: 115px;
        margin: 0;
        padding: 0.8em;
      }

      .texto {
        font-size: 0.8em;
        padding: 0.8em;
        margin: 0;
        text-align: left;
        border-left: solid 2px var(--azulViejo);
        border-left: solid 2px var(--azulViejo);
        display: flex;
        align-items: center;
        min-height: 2.3em;
      }
    }

    &.abierta {
      display: flex;
    }
  }
</style>
