---
import datos from '@/datosVisibles/indicadores';
import Encabezado from './Encabezado.astro';
---

<nav id="menu">
  <Encabezado />
  <ol>
    {
      datos.yas.map((ya, i) => {
        return (
          <li class={`ya ${ya.imagen}`}>
            <p class="nombreYa">
              {i + 1}. {ya.nombre}
            </p>
            <ul class="indicadores">
              {ya.indicadores.map((indicador) => {
                return (
                  <li class="indicador" data-archivo={indicador.archivo}>
                    <a>{indicador.nombre}</a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ol>
</nav>

<script>
  import {
    archivoActual,
    cargarDatos,
    crearListaAños,
    indicadorSeleccionado,
    yaSeleccionado,
  } from '@/utilidades/cerebro';
  const yas = document.querySelectorAll<HTMLElement>('.ya');
  const indicadores = document.querySelectorAll<HTMLLIElement>('.indicador');

  async function cargarIndicador(elemento: HTMLLIElement) {
    // Enviar al cerebro el nombre del indicador seleccionado
    indicadorSeleccionado.set(`${elemento.innerText}`);

    // Enviar al cerebro el nombre del archivo de datos correspondiente al indicador
    archivoActual.set(elemento.dataset.archivo);
    await cargarDatos();
    crearListaAños();
  }

  indicadores.forEach((elemento) => {
    elemento.onclick = async () => {
      const seleccionado = document.querySelector('.seleccionado');

      if (seleccionado) {
        if (!seleccionado.isEqualNode(elemento)) {
          seleccionado.classList.remove('seleccionado');
          await cargarIndicador(elemento);
        }
      } else {
        await cargarIndicador(elemento);
      }
    };
  });

  // Abrir sub menú de indicadores al hacer clic en un 'ya'
  yas.forEach((contenedorYa) => {
    const nombreYa = contenedorYa.querySelector<HTMLElement>('.nombreYa');

    nombreYa.addEventListener('click', () => {
      contenedorYa.classList.toggle('abierto');
      nombreYa.classList.toggle('ungido');
      yaSeleccionado.set(`${nombreYa.innerText}`);
    });
  });
</script>

<style lang="scss">
  @import '@/scss/estilos';
  #menu {
    width: 18vw;
    padding: 0 3em 0 1.5em;
    font-family: var(--fuente);
    color: var(--fucsiaEsmalte);
    background-color: var(--moradoPandito);
    height: fit-content;
    min-height: 100vh;
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 1;

    .ya {
      color: var(--fucsiaEsmalte);
      cursor: pointer;
      position: relative;
      list-style: none;

      &:before {
        content: '';
        background-repeat: no-repeat;
        width: 1.2em;
        height: 1.2em;
        background-size: 35px;
        display: inline-block;
        position: absolute;
      }

      &.ya1 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya1.svg');
          top: 0.9em;
        }
      }

      &.ya2 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya2.svg');
          top: 0.9em;
        }
      }

      &.ya3 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya3.svg');
          top: 0.9em;
        }
      }

      &.ya4 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya4.svg');
          top: 0.9em;
        }
      }

      &.ya5 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya5.svg');
          top: 0.9em;
        }
      }

      &.ya6 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya6.svg');
          top: 0.9em;
        }
      }

      &.ya7 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya7.svg');
          top: 0.9em;
        }
      }

      &.ya8 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya8.svg');
          top: 0.9em;
        }
      }

      &.ya9 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya9.svg');
          top: 0.9em;
        }
      }

      &.ya10 {
        &:before {
          background-image: url('/especiales/ninezya/iconos/ya10.svg');
          top: 0.9em;
        }
      }

      &.abierto {
        .indicadores {
          display: block;
        }

        &.ya1 {
          &:before {
            background-position-x: -17.5px;
          }
        }
        &.ya2 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya3 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya4 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya5 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya6 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya7 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya8 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya9 {
          &:before {
            background-position-x: -17.5px;
          }
        }
        &.ya10 {
          &:before {
            background-position-x: -17.5px;
          }
        }
      }
    }

    .nombreYa {
      padding: 1em 4em 1em 4em;
      margin: 0 -3em 0em -2em;
      &.ungido {
        background-color: var(--moradoProfundo);
        color: var(--moradoPandito);
        padding: 1em 4em 1em 4em;
        margin: 0 -3em 1em -2em;
        font-variation-settings:
          'MONO' 0,
          'CASL' 1,
          'wght' 700,
          'slnt' 0,
          'CRSV' 0;
      }

      &:hover {
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 800,
          'slnt' 0,
          'CRSV' 1;
      }
    }

    .indicadores {
      display: none;
      list-style: none;
      margin: 0;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 335,
        'slnt' 0,
        'CRSV' 0;
      color: var(--azulViejo);
      margin-bottom: 0.8em;
      line-height: 1.2em;
    }

    .indicador {
      position: relative;
      font-size: 0.9em;
      margin: 0 -3.3em 0em -2em;
      padding: 0.4em 3em 0.4em 4em;
      line-height: 1.2em;

      &.seleccionado {
        background-color: var(--aguaMarinaNinezYa);
        color: var(--azulViejo);
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 700,
          'slnt' 0,
          'CRSV' 0;
      }

      &:hover {
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 700,
          'slnt' 0,
          'CRSV' 0;
      }

      &::before {
        content: '';
        width: 0em;
        height: 0em;
        top: 1em;
        left: 2.5em;
        display: inline-block;
        border: 2px solid var(--fucsiaEsmalte);
        position: absolute;
        border-radius: 50%;
      }
    }
  }
</style>
