---
import datos from '@/datosVisibles/indicadores';

const { ya, indicador } = Astro.params;
---

<nav id="menu">
  <ol>
    {
      datos.map((datosYa, i) => {
        return (
          <li class={`ya ${datosYa.imagen}${datosYa.ruta === ya ? ' abierto' : ''}`}>
            <p class={`nombreYa${datosYa.ruta === ya ? ' ungido' : ''}`}>
              {i + 1}. {datosYa.nombre}
            </p>
            <ul class="indicadores">
              {datosYa.indicadores.map((datosIndicador) => {
                return (
                  <li
                    class={`indicador${datosIndicador.ruta === indicador ? ' seleccionado' : ''}`}
                    data-archivo={datosIndicador.archivo}
                  >
                    <a href={`${import.meta.env.BASE_URL}/${datosYa.ruta}/${datosIndicador.ruta}`}>
                      {datosIndicador.nombre}
                    </a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ol>
</nav>

<script>
  const yas = document.querySelectorAll<HTMLElement>('.ya');

  // Abrir sub menú de indicadores al hacer clic en un 'ya'
  yas.forEach((contenedorYa) => {
    const nombreYa = contenedorYa.querySelector<HTMLElement>('.nombreYa');

    nombreYa.addEventListener('click', () => {
      contenedorYa.classList.toggle('abierto');
      nombreYa.classList.toggle('ungido');
    });
  });
</script>

<style lang="scss">
  @import '@/scss/constantes';
  #menu {
    width: 18vw;
    padding: 1em 3em 3em 1.5em;
    font-family: var(--fuente);
    color: var(--fucsiaEsmalte);
    background-color: var(--moradoPandito);
    height: calc(100vh - $altoMenuSuperior);
    overflow: auto;
    position: fixed;
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 1;

    .ya {
      color: var(--fucsiaEsmalte);
      cursor: pointer;
      position: relative;
      list-style: none;

      &:before {
        content: '';
        background-repeat: no-repeat;
        width: 1.2em;
        height: 1.2em;
        background-size: 35px;
        display: inline-block;
        position: absolute;
      }

      &.ya1 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya1.svg');
          top: 0.9em;
        }
      }

      &.ya2 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya2.svg');
          top: 0.9em;
        }
      }

      &.ya3 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya3.svg');
          top: 0.9em;
        }
      }

      &.ya4 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya4.svg');
          top: 0.9em;
        }
      }

      &.ya5 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya5.svg');
          top: 0.9em;
        }
      }

      &.ya6 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya6.svg');
          top: 0.9em;
        }
      }

      &.ya7 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya7.svg');
          top: 0.9em;
        }
      }

      &.ya8 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya8.svg');
          top: 0.9em;
        }
      }

      &.ya9 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya9.svg');
          top: 0.9em;
        }
      }

      &.ya10 {
        &:before {
          background-image: url('/especiales/siya/iconos/ya10.svg');
          top: 0.9em;
        }
      }

      &.abierto {
        .indicadores {
          display: block;
        }

        &.ya1 {
          &:before {
            background-position-x: -17.5px;
          }
        }
        &.ya2 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya3 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya4 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya5 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya6 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya7 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya8 {
          &:before {
            background-position-x: -17.5px;
          }
        }

        &.ya9 {
          &:before {
            background-position-x: -17.5px;
          }
        }
        &.ya10 {
          &:before {
            background-position-x: -17.5px;
          }
        }
      }
    }

    .nombreYa {
      padding: 1em 4em 1em 4em;
      margin: 0 -3em 0em -2em;
      &.ungido {
        background-color: var(--moradoProfundo);
        color: var(--moradoPandito);
        padding: 1em 4em 1em 4em;
        margin: 0 -3em 1em -2em;
        font-variation-settings:
          'MONO' 0,
          'CASL' 1,
          'wght' 700,
          'slnt' 0,
          'CRSV' 0;
      }

      &:hover {
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 800,
          'slnt' 0,
          'CRSV' 1;
      }
    }

    .indicadores {
      display: none;
      list-style: none;
      margin: 0;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 335,
        'slnt' 0,
        'CRSV' 0;
      color: var(--azulViejo);
      margin-bottom: 0.8em;
      line-height: 1.2em;
    }

    .indicador {
      position: relative;
      font-size: 0.9em;
      margin: 0 -3.3em 0em -2em;
      padding: 0.6em 3em 0.45em 4em;
      line-height: 1.2em;

      &.seleccionado {
        background-color: var(--aguaMarinaNinezYa);
        color: var(--azulViejo);
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 700,
          'slnt' 0,
          'CRSV' 0;
      }

      a {
        text-decoration: none;
        color: var(--azulViejo);
        &:hover {
          font-variation-settings:
            'MONO' 0,
            'CASL' 0,
            'wght' 700,
            'slnt' 0,
            'CRSV' 0;
        }
      }

      &::before {
        content: '';
        width: 0em;
        height: 0em;
        top: 1em;
        left: 2.5em;
        display: inline-block;
        border: 2px solid var(--fucsiaEsmalte);
        position: absolute;
        border-radius: 50%;
      }
    }
  }
</style>
