---
import datos from '@/datosVisibles/indicadores';

const { ya, indicador } = Astro.params;
---

<nav id="menu">
  <ol>
    {
      datos.map((datosYa, i) => {
        return (
          <li class={`ya ${datosYa.imagen}${datosYa.ruta === ya ? ' abierto' : ''}`}>
            <a href={`${import.meta.env.BASE_URL}/${datosYa.ruta}`}>
              <span
                class={`iconoYa${datosYa.ruta === ya ? ' actual' : ''}`}
                style={`background-image: url('${import.meta.env.BASE_URL}/iconos/${datosYa.imagen}.svg')`}
              />
              <p class={`nombreYa${datosYa.ruta === ya ? ' ungido' : ''}`}>
                {' '}
                {i + 1}. {datosYa.nombre}
              </p>
            </a>

            <span class="desplegarIndicadores">︾</span>

            <ul class="indicadores">
              {datosYa.indicadores.map((datosIndicador) => {
                return (
                  <li
                    class={`indicador${datosIndicador.ruta === indicador ? ' seleccionado' : ''}`}
                    data-archivo={datosIndicador.archivo}
                  >
                    <a href={`${import.meta.env.BASE_URL}/${datosYa.ruta}/${datosIndicador.ruta}`}>
                      {datosIndicador.nombre}
                    </a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ol>
</nav>

<script>
  const menu = document.getElementById('menu');

  if (menu) {
    const yas = document.querySelectorAll<HTMLElement>('.ya');
    const indicadores = document.querySelectorAll<HTMLElement>('.indicador');
    const descripcionYa = document.getElementById('descripcionYa');

    let enCelular = false;

    // Abrir sub menú de indicadores al hacer clic en un 'ya'
    yas.forEach((contenedorYa) => {
      const nombreYa = contenedorYa.querySelector<HTMLElement>('.nombreYa');
      const botonDesplegar = contenedorYa.querySelector<HTMLSpanElement>('.desplegarIndicadores');

      nombreYa.addEventListener('click', () => {
        const actualmenteAbierto = menu.querySelector('.abierto');

        if (actualmenteAbierto && actualmenteAbierto !== contenedorYa) {
          actualmenteAbierto.classList.remove('abierto');
          actualmenteAbierto.querySelector('.nombreYa').classList.remove('ungido');
        }

        contenedorYa.classList.toggle('abierto');
        nombreYa.classList.toggle('ungido');

        descripcionYa.classList.remove('cerrado');
      });

      botonDesplegar.addEventListener('click', () => {
        if (enCelular) {
          const yasAbierto = document.querySelectorAll<HTMLElement>('.abierto');
          const nombresUngidos = document.querySelectorAll<HTMLElement>('.ungido');

          yasAbierto.forEach((ya) => ya.classList.remove('abierto'));
          nombresUngidos.forEach((nombre) => nombre.classList.remove('ungido'));
          menu.classList.add('visible');
          contenedorYa.classList.toggle('abierto');
          nombreYa.classList.toggle('ungido');
        }
      });
    });

    const corte3 = window.matchMedia('(max-width: 1000px)');

    revisarAncho(corte3);

    corte3.addEventListener('change', () => {
      revisarAncho(corte3);
    });

    function revisarAncho(corte: MediaQueryList) {
      if (corte.matches) {
        enCelular = true;
      } else {
        enCelular = false;
      }
    }
  }
</script>

<style lang="scss">
  @import '@/scss/constantes';

  #menu {
    padding: 1em 3em 3em 1.5em;
    font-family: var(--fuente);
    color: var(--uvaNinezYa);
    background-color: var(--moradoPandito);
    height: calc(100vh - $altoMenuSuperior);
    position: fixed;
    z-index: 9;
    width: 70vw;

    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 1;

    transition: transform 0.2s ease-out;

    .ya {
      color: var(--uvaNinezYa);
      cursor: pointer;
      position: relative;
      list-style: none;
      height: 50px;

      a {
        text-decoration: none;
        color: var(--azulViejo);
      }

      .iconoYa {
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: -97px;
        z-index: 9;
        background-position: 2px;

        &.actual {
          background-color: var(--uvaNinezYa);
          background-position-x: -48px;
        }
      }

      .desplegarIndicadores {
        display: block;
        position: absolute;
        color: var(--uvaNinezYa);
        font-size: 1.4em;
        width: 50px;
        text-align: center;
        height: 26px;
        background-color: var(--aguaMarinaNinezYa);
        padding-top: 0.4em;
        border: 1px solid var(--uvaNinezYa);
        &:hover {
          color: var(--color9);
        }
      }

      &.abierto {
        height: 70px;
        .indicadores {
          display: block;
        }

        .desplegarIndicadores {
          z-index: 2;
          right: -97px;
          top: 45px;
        }
      }
    }

    &.visible {
      transform: translateX(0px);
      overflow-y: auto;

      .ya {
        height: auto;

        .iconoYa {
          width: 20px;
          height: 20px;
          background-size: 35px;
          right: auto;
          background-position: 0;
          background-color: transparent;
          margin-top: 0.9em;

          &.actual {
            background-color: transparent;
          }
        }

        &.abierto .iconoYa {
          background-position-x: -17.5px;
        }

        .desplegarIndicadores {
          display: none;
        }
      }
    }

    .nombreYa {
      padding: 1em 4em 1em 4em;
      margin: 0 -3em 0em -2em;
      &.ungido {
        background-color: var(--uvaNinezYa);
        color: var(--moradoPandito);
        padding: 1em 4em 1em 4em;
        margin: 0 -3em 1em -2em;
        font-variation-settings:
          'MONO' 0,
          'CASL' 1,
          'wght' 700,
          'slnt' 0,
          'CRSV' 0;
      }

      &:hover {
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 800,
          'slnt' 0,
          'CRSV' 1;
      }
    }

    .indicadores {
      display: none;
      list-style: none;
      margin: 0;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 335,
        'slnt' 0,
        'CRSV' 0;
      color: var(--azulViejo);
      margin-bottom: 0.8em;
      line-height: 1.2em;
    }

    .indicador {
      position: relative;
      font-size: 0.9em;
      margin: 0 -3.3em 0em -2em;
      padding: 0.6em 3em 0.45em 4em;
      line-height: 1.2em;

      &.seleccionado {
        background-color: var(--aguaMarinaNinezYa);
        color: var(--azulViejo);
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 700,
          'slnt' 0,
          'CRSV' 0;
      }

      a {
        text-decoration: none;
        color: var(--azulViejo);
        &:hover {
          font-variation-settings:
            'MONO' 0,
            'CASL' 0,
            'wght' 700,
            'slnt' 0,
            'CRSV' 0;
        }
      }

      &::before {
        content: '';
        width: 0em;
        height: 0em;
        top: 1em;
        left: 2.5em;
        display: inline-block;
        border: 2px solid var(--uvaNinezYa);
        position: absolute;
        border-radius: 50%;
      }
    }
  }

  @media screen and (min-width: $corte1) {
    #menu {
      width: 50vw;
      .ya {
        .desplegarIndicadores {
          display: none;
        }
        &.abierto {
          height: auto;
        }
      }
    }
  }
  @media screen and (min-width: $corte3) {
    #menu {
      width: 19vw;
      .ya {
        height: auto;

        .iconoYa {
          width: 1.2em;
          height: 1.2em;
          margin-top: 0.9em;
          right: auto;

          &.actual {
            background-color: transparent;
            background-position-x: 0;
          }
        }

        &.abierto {
          .iconoYa {
            background-position-x: -17.5px;
          }
        }
      }
    }
  }

  @media screen and (min-width: $corte4) {
    #menu {
      width: 440px;
    }
  }
</style>
