---
import datos from '@/datosVisibles/indicadores';
const { ya, indicador } = Astro.params;
const datosYa = datos.find((instancia) => instancia.ruta === ya);
const datosIndicador = datosYa.indicadores.find((instancia) => instancia.ruta === indicador);
import { urlsAEnlacesHTML } from '@enflujo/alquimia';
---

<div class="contenedorInfoAdicional" data-hayDatos=`${datosIndicador.hay_datos}`>
  <div class="contenedorSugerencias">
    <div class="aviso">
      No hay información suficiente para reconstruir este indicador. Aquí hay algunas sugerencias de cómo podría
      trabajarse.
    </div>
    <div class="sugerencia">
      <h4 class="titulo">Responsables de medición</h4><p class="texto">
        Ej. DANE (Departamento Administrativo Nacional de Estadística)
      </p>
    </div>
    <div class="sugerencia">
      <h4 class="titulo">A quién le compete</h4><p class="texto">
        Ej. ICBF (Instituto Colombiano de Bienestar Familiar)
      </p>
    </div>
  </div>

  <div class="fichaTecnica">
    <h2 class="tituloSeccion tituloYa">{datosYa.nombre}</h2>
    <p class="nombre">{datosIndicador.nombre}</p>
    <div class="seccion"><h4 class="titulo">Definición</h4><p class="texto">{datosIndicador.definicion}</p></div>
    <h3 class="tituloSeccion">Información técnica</h3>
    <section class="inferior">
      <div class="seccion"><h4 class="titulo">Unidad de medida</h4><p class="texto">{datosIndicador.unidad}</p></div>
      <div class="seccion">
        <h4 class="titulo">Metodología de cálculo</h4><p class="texto">{datosIndicador.metodologia}</p>
      </div>
      <div class="seccion">
        <h4 class="titulo">Cómo se interpreta</h4>
        <p class="texto" set:html={urlsAEnlacesHTML(datosIndicador.interpretacion)} />
      </div>
      <div class="seccion">
        <h4 class="titulo">Responsable de la medición</h4>
        <p class="texto">{datosIndicador.responsable}</p>
      </div>
      <div class="seccion">
        <h4 class="titulo">A quién le compete</h4>
        <p class="texto">{datosIndicador.compete_a}</p>
      </div>
    </section>
  </div>
</div>

<style lang="scss">
  @import '@/scss/constantes';
  .contenedorInfoAdicional {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blancoMarfil);
    margin: 1em;
    height: 100vh;

    .fichaTecnica {
      width: 40vw;
      height: fit-content;
      min-width: 300px;
      margin-top: 4em;
      border: solid 2px var(--azulViejo);
      border-radius: 15px;
      color: var(--azulViejo);
      background-color: var(--blancoMarfil);
      text-align: center;
      z-index: 5;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 700,
        'slnt' 0,
        'CRSV' 0;

      .tituloSeccion {
        background-color: var(--azulViejo);
        color: var(--blancoMarfil);
        width: auto;
        padding: 0.3em;
        margin: 0;
        font-size: 1em;
      }

      .tituloYa {
        border-radius: 10px 10px 0 0;
        font-size: 1.1em;
      }

      .nombre {
        border-bottom: solid 2px var(--azulViejo);
        font-size: 1em;
        margin: 0;
        padding: 0.3em;
      }

      .inferior {
        display: flex;
        flex-direction: column;
      }

      .seccion {
        display: flex;
        align-items: center;
        margin: 0;
        align-items: stretch;
        border-bottom: solid 2px var(--azulViejo);

        &:last-child {
          border-bottom: none;
        }

        .titulo {
          width: 0;
          font-size: 0.8em;
          text-align: left;
          flex-basis: 53%;
          margin: 0;
          padding: 0.8em;
          text-transform: uppercase;
          border-right: solid 2px var(--azulViejo);
        }

        .texto {
          font-size: 0.8em;
          padding: 0.8em;
          margin: 0;
          text-align: left;
          flex-basis: 80%;
          display: flex;
          min-height: 2.3em;
          text-wrap: wrap;
          overflow-wrap: anywhere;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .contenedorSugerencias {
      display: flex;
      font-size: 0.9em;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;

      .aviso {
        color: yellow;
        background-color: var(--uvaProfunda);
        padding: 3em;
        border: solid 2px yellow;
        border-radius: 10px;
      }

      .sugerencia {
        width: 100%;
        .titulo {
          background-color: var(--uvaProfunda);
          color: var(--blancoMarfil);
          padding: 2em 2em 1.5em 2em;
          border-radius: 10px 10px 0 0;
          margin-bottom: 0;
        }
        .texto {
          background-color: var(--blancoMarfil);
          color: var(--azulViejo);
          border: solid 2px var(--uvaProfunda);
          margin: 0;
          padding: 2em 2em 1.5em 2em;
        }
      }
    }

    &.sinDatos {
      background-color: aliceblue;
      height: 100vh;
      position: absolute;
      top: 10vh;
      left: 19vw;
      z-index: 9;
    }
  }

  /// ✂️ Cortes pantalla
  @media screen and (min-width: $corte1) {
    .contenedorInfoAdicional {
      margin: 2em;
      .fichaTecnica {
        min-width: 330px;

        .seccion {
          .titulo {
            flex-basis: 50%;
          }
        }
      }
      .contenedorSugerencias {
        display: flex;
        width: 40vw;
        min-width: 330px;
      }
    }
  }

  @media screen and (min-width: $corte2) {
    .contenedorInfoAdicional {
      flex-wrap: nowrap;
      flex-direction: column;
      .fichaTecnica {
        width: 40vw;
      }
    }
  }

  @media screen and (min-width: $corte3) {
    .contenedorInfoAdicional {
      .fichaTecnica {
        .seccion {
          .titulo {
            flex-basis: 45%;
          }
        }
      }
    }
  }

  @media screen and (min-width: $corte4) {
    .contenedorInfoAdicional {
      .fichaTecnica {
        max-width: 700px;
      }
      .contenedorSugerencias {
        max-width: 700px;
      }
    }
  }
</style>
